header{
  display: flex;
  align-items: center;
  padding: 30px;
  height: 100px;
  width: 100%;
  background-color: slateblue;
}
.logo{
  width: 90px;
  height: 90px;
  background-image: url("/src/assets/pipeToroC.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}